<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.defcon.sortDescriptor</key>
    <array>
      <dict>
        <key>allowPseudoUnicode</key>
        <integer>0</integer>
        <key>ascending</key>
        <string>ASCII</string>
        <key>type</key>
        <string>characterSet</string>
      </dict>
    </array>
    <key>com.fontbureau.originalData.unicodeMap</key>
    <dict/>
    <key>com.fontbureau.originalFontInfo</key>
    <dict>
      <key>ascender</key>
      <integer>800</integer>
      <key>capHeight</key>
      <integer>700</integer>
      <key>copyright</key>
      <string>[c] Copyright 2001-2005, The Font Bureau, Inc. Designed by Cyrus Highsmith. All rights reserved.</string>
      <key>descender</key>
      <integer>-200</integer>
      <key>familyName</key>
      <string>Escrow</string>
      <key>italicAngle</key>
      <real>0.0</real>
      <key>macintoshFONDFamilyID</key>
      <integer>128</integer>
      <key>macintoshFONDName</key>
      <string>Escrow Black</string>
      <key>note</key>
      <string>__None__</string>
      <key>openTypeHeadCreated</key>
      <string>__None__</string>
      <key>openTypeHeadFlags</key>
      <string>__None__</string>
      <key>openTypeHeadLowestRecPPEM</key>
      <integer>9</integer>
      <key>openTypeHheaAscender</key>
      <integer>800</integer>
      <key>openTypeHheaCaretOffset</key>
      <string>__None__</string>
      <key>openTypeHheaCaretSlopeRise</key>
      <string>__None__</string>
      <key>openTypeHheaCaretSlopeRun</key>
      <string>__None__</string>
      <key>openTypeHheaDescender</key>
      <integer>-200</integer>
      <key>openTypeHheaLineGap</key>
      <integer>0</integer>
      <key>openTypeNameCompatibleFullName</key>
      <string>__None__</string>
      <key>openTypeNameDescription</key>
      <string>__None__</string>
      <key>openTypeNameDesigner</key>
      <string>__None__</string>
      <key>openTypeNameDesignerURL</key>
      <string>__None__</string>
      <key>openTypeNameLicense</key>
      <string>__None__</string>
      <key>openTypeNameLicenseURL</key>
      <string>__None__</string>
      <key>openTypeNameManufacturer</key>
      <string>__None__</string>
      <key>openTypeNameManufacturerURL</key>
      <string>__None__</string>
      <key>openTypeNamePreferredFamilyName</key>
      <string>__None__</string>
      <key>openTypeNamePreferredSubfamilyName</key>
      <string>__None__</string>
      <key>openTypeNameSampleText</key>
      <string>__None__</string>
      <key>openTypeNameUniqueID</key>
      <string>__None__</string>
      <key>openTypeNameVersion</key>
      <string>__None__</string>
      <key>openTypeNameWWSFamilyName</key>
      <string>__None__</string>
      <key>openTypeNameWWSSubfamilyName</key>
      <string>__None__</string>
      <key>openTypeOS2CodePageRanges</key>
      <array/>
      <key>openTypeOS2FamilyClass</key>
      <array>
        <integer>0</integer>
        <integer>0</integer>
      </array>
      <key>openTypeOS2Panose</key>
      <array>
        <integer>0</integer>
        <integer>0</integer>
        <integer>0</integer>
        <integer>0</integer>
        <integer>0</integer>
        <integer>0</integer>
        <integer>0</integer>
        <integer>0</integer>
        <integer>0</integer>
        <integer>0</integer>
      </array>
      <key>openTypeOS2Selection</key>
      <string>__None__</string>
      <key>openTypeOS2StrikeoutPosition</key>
      <integer>250</integer>
      <key>openTypeOS2StrikeoutSize</key>
      <integer>50</integer>
      <key>openTypeOS2SubscriptXOffset</key>
      <integer>0</integer>
      <key>openTypeOS2SubscriptXSize</key>
      <integer>700</integer>
      <key>openTypeOS2SubscriptYOffset</key>
      <integer>140</integer>
      <key>openTypeOS2SubscriptYSize</key>
      <integer>650</integer>
      <key>openTypeOS2SuperscriptXOffset</key>
      <integer>0</integer>
      <key>openTypeOS2SuperscriptXSize</key>
      <integer>700</integer>
      <key>openTypeOS2SuperscriptYOffset</key>
      <integer>477</integer>
      <key>openTypeOS2SuperscriptYSize</key>
      <integer>650</integer>
      <key>openTypeOS2Type</key>
      <array>
        <integer>2</integer>
      </array>
      <key>openTypeOS2TypoAscender</key>
      <integer>800</integer>
      <key>openTypeOS2TypoDescender</key>
      <integer>-200</integer>
      <key>openTypeOS2TypoLineGap</key>
      <integer>0</integer>
      <key>openTypeOS2UnicodeRanges</key>
      <array/>
      <key>openTypeOS2VendorID</key>
      <string>pyrs</string>
      <key>openTypeOS2WeightClass</key>
      <integer>400</integer>
      <key>openTypeOS2WidthClass</key>
      <string>__None__</string>
      <key>openTypeOS2WinAscent</key>
      <integer>0</integer>
      <key>openTypeOS2WinDescent</key>
      <integer>0</integer>
      <key>openTypeVheaCaretOffset</key>
      <string>__None__</string>
      <key>openTypeVheaCaretSlopeRise</key>
      <string>__None__</string>
      <key>openTypeVheaCaretSlopeRun</key>
      <string>__None__</string>
      <key>openTypeVheaVertTypoAscender</key>
      <string>__None__</string>
      <key>openTypeVheaVertTypoDescender</key>
      <string>__None__</string>
      <key>openTypeVheaVertTypoLineGap</key>
      <string>__None__</string>
      <key>postscriptBlueFuzz</key>
      <integer>1</integer>
      <key>postscriptBlueScale</key>
      <real>0.039625</real>
      <key>postscriptBlueShift</key>
      <integer>7</integer>
      <key>postscriptBlueValues</key>
      <array>
        <integer>-18</integer>
        <integer>0</integer>
        <integer>443</integer>
        <integer>467</integer>
        <integer>689</integer>
        <integer>705</integer>
        <integer>708</integer>
        <integer>709</integer>
      </array>
      <key>postscriptDefaultCharacter</key>
      <string>__None__</string>
      <key>postscriptDefaultWidthX</key>
      <integer>500</integer>
      <key>postscriptFamilyBlues</key>
      <array/>
      <key>postscriptFamilyOtherBlues</key>
      <array/>
      <key>postscriptFontName</key>
      <string>Escrow-Black</string>
      <key>postscriptForceBold</key>
      <false/>
      <key>postscriptFullName</key>
      <string>Escrow Black</string>
      <key>postscriptIsFixedPitch</key>
      <false/>
      <key>postscriptNominalWidthX</key>
      <string>__None__</string>
      <key>postscriptOtherBlues</key>
      <array/>
      <key>postscriptSlantAngle</key>
      <real>0.0</real>
      <key>postscriptStemSnapH</key>
      <array>
        <integer>36</integer>
        <integer>12</integer>
      </array>
      <key>postscriptStemSnapV</key>
      <array>
        <integer>175</integer>
        <integer>191</integer>
      </array>
      <key>postscriptUnderlinePosition</key>
      <integer>-133</integer>
      <key>postscriptUnderlineThickness</key>
      <integer>20</integer>
      <key>postscriptUniqueID</key>
      <integer>2004548</integer>
      <key>postscriptWeightName</key>
      <string>Normal</string>
      <key>postscriptWindowsCharacterSet</key>
      <integer>1</integer>
      <key>styleMapFamilyName</key>
      <string>Escrow</string>
      <key>styleMapStyleName</key>
      <string>regular</string>
      <key>styleName</key>
      <string>-Black</string>
      <key>trademark</key>
      <string>__None__</string>
      <key>unitsPerEm</key>
      <integer>1000</integer>
      <key>versionMajor</key>
      <integer>1</integer>
      <key>versionMinor</key>
      <integer>0</integer>
      <key>xHeight</key>
      <integer>500</integer>
      <key>year</key>
      <integer>0</integer>
    </dict>
    <key>com.fontbureau.removedGlyphs</key>
    <array>
      <string>_246</string>
      <string>_247</string>
      <string>_258</string>
      <string>_255</string>
      <string>_254</string>
      <string>_256</string>
      <string>_257</string>
      <string>_250</string>
      <string>_251</string>
      <string>_252</string>
      <string>_260</string>
      <string>_259</string>
      <string>_245</string>
      <string>_253</string>
      <string>_249</string>
      <string>_248</string>
      <string>NUL</string>
    </array>
    <key>com.fontbureau.removedPartyCharacterDuplicates</key>
    <array>
      <string>Omega</string>
      <string>approxequal</string>
      <string>greaterequal</string>
      <string>integral</string>
      <string>logicalnot</string>
      <string>mu</string>
      <string>partialdiff</string>
      <string>product</string>
      <string>summation</string>
    </array>
    <key>com.fontbureau.renamedGlyphs</key>
    <dict>
      <key>Delta</key>
      <string>f_j</string>
      <key>apple</key>
      <string>uni261E</string>
      <key>infinity</key>
      <string>f_f_i</string>
      <key>lessequal</key>
      <string>uni261C</string>
      <key>lozenge</key>
      <string>f_t</string>
      <key>notequal</key>
      <string>f_f</string>
      <key>pi</key>
      <string>uni2117</string>
      <key>plusminus</key>
      <string>f_f_l</string>
    </dict>
    <key>com.typemytype.robofont.segmentType</key>
    <string>curve</string>
    <key>com.typemytype.robofont.smartSets.uniqueKey</key>
    <string>7417874128</string>
    <key>org.robofab.glyphOrder</key>
    <array>
      <string>NUL</string>
      <string>Eth</string>
      <string>eth</string>
      <string>Lslash</string>
      <string>lslash</string>
      <string>Scaron</string>
      <string>scaron</string>
      <string>Yacute</string>
      <string>yacute</string>
      <string>Thorn</string>
      <string>thorn</string>
      <string>Zcaron</string>
      <string>zcaron</string>
      <string>onehalf</string>
      <string>onequarter</string>
      <string>onesuperior</string>
      <string>threequarters</string>
      <string>threesuperior</string>
      <string>twosuperior</string>
      <string>brokenbar</string>
      <string>minus</string>
      <string>multiply</string>
      <string>space</string>
      <string>exclam</string>
      <string>quotedbl</string>
      <string>numbersign</string>
      <string>dollar</string>
      <string>percent</string>
      <string>ampersand</string>
      <string>quotesingle</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>asterisk</string>
      <string>plus</string>
      <string>comma</string>
      <string>hyphen</string>
      <string>period</string>
      <string>slash</string>
      <string>zero</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>less</string>
      <string>equal</string>
      <string>greater</string>
      <string>question</string>
      <string>at</string>
      <string>A</string>
      <string>B</string>
      <string>C</string>
      <string>D</string>
      <string>E</string>
      <string>F</string>
      <string>G</string>
      <string>H</string>
      <string>I</string>
      <string>J</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>O</string>
      <string>P</string>
      <string>Q</string>
      <string>R</string>
      <string>S</string>
      <string>T</string>
      <string>U</string>
      <string>V</string>
      <string>W</string>
      <string>X</string>
      <string>Y</string>
      <string>Z</string>
      <string>bracketleft</string>
      <string>backslash</string>
      <string>bracketright</string>
      <string>asciicircum</string>
      <string>underscore</string>
      <string>grave</string>
      <string>a</string>
      <string>b</string>
      <string>c</string>
      <string>d</string>
      <string>e</string>
      <string>f</string>
      <string>g</string>
      <string>h</string>
      <string>i</string>
      <string>j</string>
      <string>k</string>
      <string>l</string>
      <string>m</string>
      <string>n</string>
      <string>o</string>
      <string>p</string>
      <string>q</string>
      <string>r</string>
      <string>s</string>
      <string>t</string>
      <string>u</string>
      <string>v</string>
      <string>w</string>
      <string>x</string>
      <string>y</string>
      <string>z</string>
      <string>braceleft</string>
      <string>bar</string>
      <string>braceright</string>
      <string>asciitilde</string>
      <string>Adieresis</string>
      <string>Aring</string>
      <string>Ccedilla</string>
      <string>Eacute</string>
      <string>Ntilde</string>
      <string>Odieresis</string>
      <string>Udieresis</string>
      <string>aacute</string>
      <string>agrave</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>atilde</string>
      <string>aring</string>
      <string>ccedilla</string>
      <string>eacute</string>
      <string>egrave</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>iacute</string>
      <string>igrave</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>ntilde</string>
      <string>oacute</string>
      <string>ograve</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>otilde</string>
      <string>uacute</string>
      <string>ugrave</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>dagger</string>
      <string>degree</string>
      <string>cent</string>
      <string>sterling</string>
      <string>section</string>
      <string>bullet</string>
      <string>paragraph</string>
      <string>germandbls</string>
      <string>registered</string>
      <string>copyright</string>
      <string>trademark</string>
      <string>acute</string>
      <string>dieresis</string>
      <string>notequal</string>
      <string>AE</string>
      <string>Oslash</string>
      <string>infinity</string>
      <string>plusminus</string>
      <string>lessequal</string>
      <string>greaterequal</string>
      <string>yen</string>
      <string>mu</string>
      <string>partialdiff</string>
      <string>summation</string>
      <string>product</string>
      <string>pi</string>
      <string>integral</string>
      <string>ordfeminine</string>
      <string>ordmasculine</string>
      <string>Omega</string>
      <string>ae</string>
      <string>oslash</string>
      <string>questiondown</string>
      <string>exclamdown</string>
      <string>logicalnot</string>
      <string>radical</string>
      <string>florin</string>
      <string>approxequal</string>
      <string>Delta</string>
      <string>guillemotleft</string>
      <string>guillemotright</string>
      <string>ellipsis</string>
      <string>nbspace</string>
      <string>Agrave</string>
      <string>Atilde</string>
      <string>Otilde</string>
      <string>OE</string>
      <string>oe</string>
      <string>endash</string>
      <string>emdash</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>divide</string>
      <string>lozenge</string>
      <string>ydieresis</string>
      <string>Ydieresis</string>
      <string>fraction</string>
      <string>Euro</string>
      <string>guilsinglleft</string>
      <string>guilsinglright</string>
      <string>fi</string>
      <string>fl</string>
      <string>daggerdbl</string>
      <string>periodcentered</string>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
      <string>perthousand</string>
      <string>Acircumflex</string>
      <string>Ecircumflex</string>
      <string>Aacute</string>
      <string>Edieresis</string>
      <string>Egrave</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Igrave</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>apple</string>
      <string>Ograve</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Ugrave</string>
      <string>dotlessi</string>
      <string>circumflex</string>
      <string>tilde</string>
      <string>macron</string>
      <string>breve</string>
      <string>dotaccent</string>
      <string>ring</string>
      <string>cedilla</string>
      <string>hungarumlaut</string>
      <string>ogonek</string>
      <string>caron</string>
      <string>_245</string>
      <string>_246</string>
      <string>_247</string>
      <string>_248</string>
      <string>_249</string>
      <string>_250</string>
      <string>_251</string>
      <string>_252</string>
      <string>_253</string>
      <string>_254</string>
      <string>_255</string>
      <string>_256</string>
      <string>_257</string>
      <string>_258</string>
      <string>_259</string>
      <string>_260</string>
    </array>
    <key>public.glyphOrder</key>
    <array>
      <string>space</string>
      <string>exclam</string>
      <string>quotedbl</string>
      <string>numbersign</string>
      <string>dollar</string>
      <string>percent</string>
      <string>ampersand</string>
      <string>quotesingle</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>asterisk</string>
      <string>plus</string>
      <string>comma</string>
      <string>hyphen</string>
      <string>period</string>
      <string>slash</string>
      <string>zero</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>less</string>
      <string>equal</string>
      <string>greater</string>
      <string>question</string>
      <string>at</string>
      <string>A</string>
      <string>B</string>
      <string>C</string>
      <string>D</string>
      <string>E</string>
      <string>F</string>
      <string>G</string>
      <string>H</string>
      <string>I</string>
      <string>J</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>O</string>
      <string>P</string>
      <string>Q</string>
      <string>R</string>
      <string>S</string>
      <string>T</string>
      <string>U</string>
      <string>V</string>
      <string>W</string>
      <string>X</string>
      <string>Y</string>
      <string>Z</string>
      <string>bracketleft</string>
      <string>backslash</string>
      <string>bracketright</string>
      <string>asciicircum</string>
      <string>underscore</string>
      <string>grave</string>
      <string>a</string>
      <string>b</string>
      <string>c</string>
      <string>d</string>
      <string>e</string>
      <string>f</string>
      <string>g</string>
      <string>h</string>
      <string>i</string>
      <string>j</string>
      <string>k</string>
      <string>l</string>
      <string>m</string>
      <string>n</string>
      <string>o</string>
      <string>p</string>
      <string>q</string>
      <string>r</string>
      <string>s</string>
      <string>t</string>
      <string>u</string>
      <string>v</string>
      <string>w</string>
      <string>x</string>
      <string>y</string>
      <string>z</string>
      <string>braceleft</string>
      <string>bar</string>
      <string>braceright</string>
      <string>asciitilde</string>
    </array>
  </dict>
</plist>
